---
import { getCollection } from 'astro:content';
import Layout from '../../../src/layouts/Layout.astro';

export const prerender = true;

const posts = await getCollection('blog', ({ data }) => data.status === 'publish');
posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout>
  <h1>Blog</h1>
  <ul>
    {posts.map(post => (
      <li>
        <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        <br />
        <small>{post.data.date.toDateString()}</small>
      </li>
    ))}
  </ul>
</Layout>
