---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog', ({ data }) => data.status === 'publish');
posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const categories = Array.from(new Set(posts.map((p) => p.data.category))).sort();
categories.unshift('All');
---

<Layout>
  <h1>Blog</h1>
  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/${post.slug}/`} class="block py-2 hover:bg-gray-100">
          <span class="font-semibold">{post.data.title}</span><br />
          <small class="text-sm text-gray-500">{post.data.date.toDateString()}</small>
        </a>
      </li>
    ))}
  </ul>
</Layout>
